body {
  background-color: white;
}



p {
  color: black
}


h2 {
  color: grey;
}

h3 {
  color: grey;
}

h4 {
  color: black;
}

h5 {
  color: black;
}

a {
  color: #8B0000;
}

b, strong {
  color: #8B0000;
}

a:visited {
  color: grey;
}

div {
  text-align: center;
}



a:active {
  text-decoration: underline;
}

header > nav a,
header > nav a:visited {
  border: 1px solid grey !important;
}

header > nav a:hover,
header > nav a.current,
header > nav a[aria-current="page"],
header > nav a[aria-current="true"] {
  border-color: grey !important;
  color: #8B0000 !important;
  cursor: pointer;
}

ul, ol {
  color: black; /* Change this to any color you want */
}

